@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
  
img {
  width: 600px;
}
.header,
.left-links,
.right-links,
.content,
.footer{
  display: flex;
}

.left-links,
.right-links{
  gap: 16px;
  padding: 16px;
}
.content{
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header{
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: rgb(102, 102, 102);
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eee;
}

/*

Proper solution

body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}
 */