/* Add CSS Styling */
.odd{
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: rgb(255, 182, 193);
}
#number-2{
    color: rgb(0, 0, 255);
    font-size: 36px;
}
.odd.special{
    font-size: 24px;
}
#number-4{
    background-color: rgb(144, 238, 144);
    font-size: 24px;
    font-weight: bold;
}